<script type="text/javascript">
    RED.nodes.registerType('grove-lcd-rgb-backlight',{
        category: 'grove-base-hat',
        color: '#a6bbcf',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:0,
        icon: "light.png",
        label: function() {
            return this.name||"grove-lcd-rgb-backlight";
        }
    });
</script>

<script type="text/x-red" data-template-name="grove-lcd-rgb-backlight">

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Port</label>
        I2C
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="grove-oled-display-128x64">
    <p>The node controls Grove-LCD RGB Backlight V4.0</p>
    <h3>Inputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">string</span>
        </dt>
        <dd> the payload of the message to publish.</dd>
    <h3>Details</h3>
    <p>
        This node controls Grove-LCD RGB Backlight<br />
        The inputs are JSON data with RGB value and text<br />
    </p>
 </script>
