<script type="text/javascript">
    RED.nodes.registerType('grove-led-dimmable',{
        category: 'grove-base-hat',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            port_number: {value:12}
        },
        inputs:1,
        outputs:0,
        icon: "light.png",
        align: "right",
        label: function() {
            return this.name||"grove-led-dimmable";
        }
    });
</script>

<script type="text/x-red" data-template-name="grove-led-dimmable">

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Port</label>
        <select style="width:90px; margin-left:20px;" id="node-input-port_number" value="12">
            <option value="12">PWM</option>
        </select>
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="grove-led-dimmable">
    <p>The node controls the Grove LED with Pulse Width Modulation.</p>
    <h3>Inputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">number</span>
        </dt>
        <dd>the payload should be in the range from 0 or 1024 (number).</dd>
    <h3>Details</h3>
    <p>This node controls the Grove LED. When the payload is 0, the LED will turn off. When the payload is 1024, the LED will turn most bright.
       The value is usualy between 0 and 500. Higher values will not change the brightness, depending on type of LED
       Only output D18 can be used due to the fact dat this port has only connection to the PWM output of the processor</p>
 </script>
