<script type="text/javascript">
    RED.nodes.registerType('grove-temperature-humidity-sensor-sht3x',{
        category: 'grove-base-hat',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            model: {value: "0x44", type: "text"}
        },
        inputs:1,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return this.name||"grove-temperature-humidity-sensor-sht3x";
        }
    });
</script>

<script type="text/x-red" data-template-name="grove-temperature-humidity-sensor-sht3x">

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Port</label>
        I2C
    </div>

    <div class="form-row">
        <label for="node-input-model"><i class="icon-folder"></i> Model</label>
        <select style="width:90px;" id="node-input-model" value="0x44">
            <option value="0x44">SHT31</option>
            <option value="0x45">SHT35</option>
        </select>
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="grove-temperature-humidity-sensor-sht3x">
    <p>The node controls Grove Temperature Humidity Sensor SHT3x.</p>
    <h3>Outputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">object</span>
        </dt>
        <dd>the payload of detected Grove Temperature Humidity Sensor SHT3x data. The datas publish as temperature and humidity Object data.</dd>
    <h3>Details</h3>
    <p>This node listens to Grove Temperature Humidity Sensor SHT3x and publish the detected its sensor data.</p>
</script>
