<script type="text/javascript">
    RED.nodes.registerType('grove-rotary-angle-sensor',{
        category: 'grove-base-hat',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            port_number: {value:0}
        },
        inputs:1,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return this.name||"grove-rotary-angle-sensor";
        }
    });
</script>

<script type="text/x-red" data-template-name="grove-rotary-angle-sensor">

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Port</label>
        <select style="width:90px; margin-left:20px;" id="node-input-port_number" value="0">
            <option value="0">A0</option>
            <option value="2">A2</option>
            <option value="4">A4</option>
            <option value="6">A6</option>
        </select>
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="grove-rotary-angle-sensor">
    <p>The node controls Grove Rotary Angle Sensor.</p>
    <h3>Outputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">number</span>
        </dt>
        <dd>the payload of detected Grove Rotary Angle. The data unit publish as angle % 0-1000 (0-100.0%)</dd>
    <h3>Details</h3>
    <p>This node listens to Grove Rotary Angle Sensor and publish the detected its sensor data.</p>
</script>
