<script type="text/javascript">
    RED.nodes.registerType('grove-temperature-humidity-sensor',{
        category: 'grove-base-hat',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            port_number: {value:5}
        },
        inputs:1,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return this.name||"grove-temperature-humidity-sensor";
        }
    });
</script>

<script type="text/x-red" data-template-name="grove-temperature-humidity-sensor">

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Port</label>
 	<select style="width:90px; margin-left:20px;" id="node-input-port_number" value="5">
            <option value="5">D5</option>
            <option value="16">D16</option>
            <option value="18">D18</option>
            <option value="22">D22</option>
            <option value="24">D24</option>
            <option value="26">D26</option>
        </select>
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="grove-temperature-humidity-sensor">
    <p>The node reads the Grove Temperature&Humidity Sensor Pro (DHT11, blue casing)</p>
    <h3>Outputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">number</span>
        </dt>
        <dd>the payload of detected Temperature and Humidity. The data unit publish as degrees Celcius/Fahrenheit and Relative Humidity (%).</dd>
    <h3>Details</h3>
    <p>This node publish the detected sensor data after input pulse (1).</p>
</script>
